@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
$font-family-base: 'Ms Madi', cursive;

$nuevo: #cf649a;
$oscurito: #3f3e3f;

$theme-colors: (
    "nuevo": $nuevo,
    "oscurito": $oscurito
    ) !default;

@import "node_modules/bootstrap/scss/bootstrap";

.card {
    background-color: $oscurito;
}

.card-img-top{
    padding: 1rem;
}